html{
    font-size: 20px;
    font-family: "Playfair",serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
img{
    max-width: 45%;
    max-height: 45%;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    display: block;
    
}
h1{
    font-size: 80px;
    font-style:oblique;
    font-family: "Playfair",serif;
    border-bottom: solid;
    
}

form{
    font-size: large;
    margin-bottom: 2px;
}

button{
    font-size: 17.5px;
    border: solid black;
    margin-top: 1.5em;
    border-width: 2px;

}


