html{
    font-size: 20px;
    font-family: "Playfair",serif;
}
img{
    max-width: 100%;
    height: auto;
    align-items: center;
    
}
h1{
    font-size: 100px;
    font-style:oblique;
    font-family: "Playfair",serif;
    border-bottom: solid
    
}

input{
    border-width: 0.5px;
    border-radius: 10px;
    font-size: large;
    height: 40px;
}

form{
    font-size: 25px;
    margin-bottom: 2px;
    font-family: "Roboto",sans-serif;
    
}

button{
    font-size: 17.5px;
    border: solid black;
    margin-top: 1.5em;
    border-width: 2px;
    border-radius: 10px;

}
body{
    background-color: lightskyblue;
}

h3{
    font-size: 30px;
    margin-bottom: 2em;
    font-family: "roboto",sans-serif;
    font-weight: 750;
}


