html{
    font-size: 20px;
    font-family: "Playfair",serif;
    
}
img{
    max-width: 45%;
    height: auto;
    align-items: center;
    
}
h1{
    font-size: 80px;
    font-style:oblique;
    font-family: "Playfair",serif;
    border-bottom: solid
    
}

input{
    border-width: 0.5px;
    border-radius: 10px;
    font-size: large;
    height: 25px;
}

form{
    font-size: 20px;
    margin-bottom: 2px;
    font-family: "Roboto",sans-serif;
    
}

button{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: solid black;
    margin-top: 0.5em;
    border-width: 1.75px;
    border-radius: 20px;
    width: 25%;
    background-color: rgb(243, 214, 84);
}

button:hover{
    
    background:solid;
    background-color: rgb(175, 101, 55);
}
body{
    background-color: lightskyblue;
}

h3{
    font-size: 30px;
    font-family: "roboto",sans-serif;
    font-weight: 750;
    border-bottom: solid;
}


.container{
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}